#!/bin/sh -e
#
#
# On Linux systems, this should be installed as,
# or merged into, /etc/rc.local.
# On other systems, you'll just have to figure it out.
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

# create the tmpfs /var/run directory
if [ ! -e /var/run/OpenBTS ]; then
	mkdir /var/run/OpenBTS
fi
if [ ! -e /var/run/rrlp ]; then
	mkdir /var/run/rrlp
	chmod 777 /var/run/rrlp
fi

if [ ! -e /var/lib/OpenBTS ]; then
	mkdir /var/lib/OpenBTS
fi

# make sure permissions are set up correctly
chown -R root:www-data /var/lib/asterisk/sqlite3dir
chmod 775 /var/lib/asterisk/sqlite3dir
chmod 664 /var/lib/asterisk/sqlite3dir/sqlite3*

exit 0
