Source: range-configs
Section: comm
Priority: optional
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Homepage: http://www.rangenetworks.com/
Build-Depends: build-essential, debhelper (>= 7)
Standards-Version: 3.7.3


Package: range-configs
Version: 3.1.0
Section: comm
Priority: optional
Architecture: any
Essential: no
Depends: ntp, ntpdate, apache2, bind9, rsyslog
Replaces: ntp, ntpdate, apache2 (<< 1:2.2.22), bind9 (<< 1:9.8.1), rsyslog
Breaks: ntp, ntpdate, apache2 (<< 1:2.2.22), bind9 (<< 1:9.8.1), rsyslog
Description: OpenBTS Commercial software.
